/* === Var === */
:root{
    /* --- Primarias --- */
    --light-red: #ff5757;
    --orangey-yellow: #ffb01f;
    --green-teal: #00bd91;
    --cobalt-blue: #1125d4;

    /* --- Gradientes --- */
        /* --- Background --- */
    --light-slate-blue : #7857ff;
    --light-royal-blue : #2e2be9;

        /* --- Circle --- */
    --violet-blue: hsla(256, 72%, 46%, 1); 
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* --- Neutras --- */
    --white: #ffffff;
    --pale-blue: #ebf1ff;
    --light-lavender: #c8c7ff;
    --dark-gray-blue: #303b5a;

    /* === Fontes === */
    --font-medium: 500;
    --font-bold: 700;
    --font-extra: 800;
}

*{
    font-family: 'Hanken Grotesk', sans-serif;
}

.card-score{
    background-image: linear-gradient(to bottom, #7857ff, #694cf9, #5941f4, #4736ee, #2e2be9);
}