@import './core';
// --- List ---
.list__item{
    @include display;
    margin-bottom: 15px;
}

.list__icon{
    padding-right: 10px;
}

// --- Form  ---
.form{
    max-width: 400px;
}

.conteiner__label{
    @include display;
    justify-content: space-between;
    width: 90%;
}
.label{
    display: block;
    margin: 30px 0 10px 0;
}
.input{
    border: 1px solid $dark-slate-grey;
    padding: 10px 10px 10px 20px;
    margin-bottom: 15px;
}
.button{
    padding: 11px;
    background-color: $dark-slate-grey;
}
.input,
.button{
    border-radius: 6px ;
    width: 90%;
    max-width: 400px;
}

// --- Estados Ativos ---
.button:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: linear-gradient(to right, #ff5478, #fd673b);
}

.input--error{
    color: $tomato;
    background-color: $light-tomato;
    border-color: $tomato;
}

.label--error{
    display: none;
    // display: block;
    color: $tomato;
}
// --- Tipografia ---
*{
    font-family: 'Roboto', sans-serif;
    color: $dark-slate-grey;
    font-weight: 400;
    font-size: 16px;
}

.button{
    color: $white;
}
.title{
    font-size: 3.1em;
}

.paragraph{
    line-height: 1.4em;
}

.sucess{
    .title{ font-size: 2.6em;}
    .paragraph{ font-size: 0.85em;}
    .email{
        font-size: 0.95em;
        font-weight: 700;
    }
}

.label{
    font-size: 0.85em;
}

.input,
.button{
    font-size: 0.85em
}

.title,
.label,
.button{
    font-weight: 700;;
}