// --- Cores ---
$tomato: hsl(4, 100%, 67%);
$light-tomato:hsl(5, 100%, 95%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

@mixin display{
    display: flex;
    align-items: center;
}

@mixin card{
    border-radius: 20px;
    background-color: $white;
}
