@import './core';
// --- Components ---
body{
    background-color: $dark-slate-grey;
}

.conteiner{
    width: 90%;
    max-width: 400px;
}

.background{
    background: url('../assets/images/illustration-sign-up-desktop.svg') no-repeat;
    background-size: contain;
    height: 450px;
    width: 300px;
}
@media (max-width: 790px) {
    .background{
        background: url('../assets/images/illustration-sign-up-mobile.svg') no-repeat;
        background-position: top center;
        background-size: contain;
        margin-bottom: 50px;
        height: 290px;
        width: 100%;
    }
    .conteiner{
        margin: auto;
    }
}
// --- Main ---
main{
    @include card;
    padding-bottom: 20px;
}

@media (min-width: 450px) {
    main{
        margin: 100px auto;
        padding: 30px;
        width: 400px;
    }    
}

@media (min-width: 800px) {
    main{
        @include display;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 780px;
        padding: 20px;
    }
}

@media (min-width: 1150px) {
    main{
        width: 900px;
        padding: 60px;
    }
}

// --- Sucess ---
.sucess {
    @include card;
    margin: auto;
    margin-top: 50px;
    max-width: 360px;
    .paragraph { margin-bottom: 30px;}


    .button { 
        width: 100%;
        padding: 12px;
    }
}
.sucess__conteiner{
    width: 85%;
    margin: auto;
    padding: 40px 0;
}




// --- Tipografia ---
.title,
.paragraph{
    margin-bottom: 20px;
}

