*{
  background: none;
  border: none;
  box-sizing: border-box;
  color: #959eac;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* === Estruturas === */
body{
  background: #121417;
}
button{
  margin-right: 20px;
  cursor: pointer;
}

.btn__rate:hover{
  background: #f77515;
  color: #fff;
}
button, .background__img{
  background: #252d36;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
img{
  margin: 12px;
}

.background__img{
  display: inline-block;
  margin: 20px 0 20px 0;
}
main{
  background: #212832;
  border-radius: 15px;
  margin: 20px auto;
  width: 350px;
}
h1, p, ol{
  margin-bottom: 20px;
}

.alinhamento__main{
  margin: auto;
  width: 320px;
}

.tela__rate{
  display: block;
  height: 350px;
}
.alinhamento__rate{
  display: flex;
}
.button__submit{
  background: #fb7413;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  height: 40px;
  width: 310px;
}

.button__submit:hover{
  background: #fff;
  color: #fb7413;
}

.agradecimento__conteiner{
  text-align: center;
  height: 200px;
  border-radius: 20px;
}
.tela__agra{
  display: none;
}
.agradecimento__img--item{
  margin: 40px auto 20px 80px;
}
.select{
  background: #252d36;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  margin: 10px auto 20px auto;
  padding-top: 6px;
}
.select, span{
  color: #fb7413;
  font-weight: 400;
}


/* === Tipografia === */
h1{
  color: #FFF;
  font-size: 20px;
}
.agradecimento__paragrafo{
  line-height: 25px;
}
