@import './core';

// === display ===
.display{
    margin-top: 15px;
}
// === Inputs Label ===
label{
    display: block;
    margin-bottom: 10px;
}
input{
    border: 1px solid $light-grayish-violet;
    padding: 10px 10px 10px 20px;
}


input[type=month],
input[type=datetime]{
    width: 80px;
}

.cvc{
    width: 160px;
}

@media (max-width: 650px){
    .cvc{
        width: 140px;
    }
}
@media (max-width: 450px){
    input[type=month],
    input[type=datetime]{
        width: 80px;
    }
}


// === Button ===
.button{
    background: $very-dark-violet;
}

// === Input e Button ===
input,
.button{
    border-radius: 6px;
    max-width: 360px;
    height: 45px;
    width: 100%;
}
.input__conteiner{
    margin-bottom: 20px;
}
// === Error ===
.span-error{
    color: $red;
    font-size: 0.73em;
    margin-top: 5px;
    width: 145px;
}

.span-error--value,
.span-error--num,
.span-error--month,
.span-error--year,
.span-error--digi,
.span-error--let{
    display: none;
}

// --- Estados ---
.button:hover{
    cursor: pointer;
}

input:hover{
    border-color: $border;
}
// --- Tipofrafia ---
*{
    color: $very-dark-violet;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.output,
.button{
    color: $light-grayish-violet;
}

label,
button{
    font-size: 0.9em;
}

.name-output{
    text-transform: uppercase;
}
.output{
    font-size: 0.75rem;
}