/* === Reset === */
* {
  background: none;
  border: none;
  color: #6C7289;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
/* === PADRÕES === */
body{
  background: #F2EBE3;
}
main{
  /* --- estilos --- */
  background: #fff;
  border-radius: 10px;
  /* --- display --- */
  margin: auto;
  margin-top: 30px;
  /* --- tamanho --- */
  height: 615px;
  width: 340px;
}

/* === ALINHAMENTO === */
.alinhamento__main{
  /* --- display --- */
  margin: auto;
  /* --- tamanho --- */
  width: 290px;
}
.alinhamento__descricao{
  margin-top: 25px;
}
.preco__atual, .button{
  margin-left: 5px;
}

.alinhamento__flex{
  /* --- display --- */
  display: flex;
  align-items: center;
}

/* === IMAGEM PERFUME === */
.perfume__imagem__item{
  /* --- estilos --- */
  border-radius: 10px 10px 0 0;
  /* --- tamanho --- */
  height: 240px;
  width: 340px;
}

/* === Button === */
.button__conteiner{
  /* --- estilos --- */
  background: #3C8067;
  border-radius: 5px;
  /* --- tipografia --- */
  font-weight: 700;
  /* --- display --- */
  justify-content: center;
  margin-top: 15px;
  /* --- tamanho --- */
  height: 50px;
  width: 300px;

}
.button__image{
  height: 20px;
}
.button:hover, .button__conteiner:hover{
  /* --- estilos ---  */
  background: #1a4031;
  cursor: pointer;
}
/* === TIPOGRAFIA === */
.subtitulo{
  font-size: 0.9em;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.perfume__nome{
  /* --- tipografia --- */
  color: #1C232B;
  font-size: 1.8em;
  word-wrap: break-word;
  /* --- display --- */
  margin: 10px 0 10px 0;
  /* --- tamanho --- */
  width: 260px;

}
.perfume__descricao{
  /* --- tipografia --- */
  font-size: 0.8em;
  line-height: 1.8em;
  /* --- display --- */
  margin-bottom: 45px;
}

.preco__atual{
  /* --- tipografia --- */
  color: #3C8067;
  font-size: 30px;
  font-size: 1.8em;
  /* --- display --- */
  margin-right: 20px;
}
.preco__antigo{
  font-size: 0.9em;
  text-decoration: line-through;
}
.button{
  color: #fff;
  font-weight: bold;
}
.texto__destaque{
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
}

/* === Media Query === */
@media (min-width: 700px){
  main{
    display: flex;
    height: 460px;
    width: 605px;
  }
  .alinhamento__main{
    height: 460px;
    width: 240px;
  }
  .alinhamento__descricao{
    margin-top: 30px;
  }

  .perfume__imagem__item{
    border-radius: 10px 0 0 10px;
    height: 460px;
    width: 300px;
  }
  .button__conteiner{
    /* --- estilos --- */
    border-radius: 10px;
    /* --- display --- */
    margin-top: 20px;
    /* --- tamanho --- */
    width: 240px;
  }
  /* === TIPOGRAFIA === */
  .perfume__nome{
    /* --- display --- */
    margin: 15px 0 20px 0;
    /* --- tamanho --- */
    width: 230px;
  }
  .perfume__descricao{
    /* --- display --- */
    margin-bottom: 30px;
  }
}
